<h1>Unified Form Control Theorycrafting</h1>

<h2>
  <a href="https://github.com/angular/angular/pull/54579" target="_blank"
    >feat(forms): Unified Control State Change Events</a
  >
</h2>

<blockquote>
  This commit adds a global observable to subscribe to track changes around any
  AbstractControl (and its children).
</blockquote>
<blockquote>
  This commit introduces a new method to subscribe to on every `AbstractControl`
  subclass. It allows to track value, pristine, touched and status changes on a
  given control.
</blockquote>

<hr />

<form [formGroup]="form">
  <label for="name">Name </label>
  <input [formControl]="form.controls.name" name="name" />
</form>

<pre>{{ $formValues() | json }}</pre>
