<section id="about">
  <h1>Unified Form Control Theorycrafting</h1>

  <h2>
    <a href="https://github.com/angular/angular/pull/54579" target="_blank"
      >feat(forms): Unified Control State Change Events</a
    >
  </h2>

  <blockquote>
    This commit adds a global observable to subscribe to track changes around
    any AbstractControl (and its children).
  </blockquote>
  <blockquote>
    This commit introduces a new method to subscribe to on every
    `AbstractControl` subclass. It allows to track value, pristine, touched and
    status changes on a given control.
  </blockquote>
</section>

<hr />

<section id="form">
  <form [formGroup]="form">
    <label for="name">Name </label>
    <input [formControl]="form.controls.name" name="name" type="text" />

    <label for="inner-name">Inner Name </label>
    <input
      [formControl]="form.controls.innerForm.controls.innerName"
      name="inner-name"
      type="text"
    />

    <label for="age">Age </label>
    <input [formControl]="form.controls.age" name="age" type="number" />
  </form>
</section>
<pre>{{ $valueEvents() }}</pre>
<pre>{{ valueEvents$ | async }}</pre>
<div>
  <h2>(in logs) Events and Events Sources</h2>
  <pre>{{ eventsAndEventsSource$ | async }}</pre>
</div>

<div>
  <h2>mapping values of 4 types from source</h2>
  <pre>{{ mappingEventsFromSource$ | async }}</pre>
</div>

<div>
  <h2>Filtering to get value changes events</h2>
  <pre>{{ formValueEventOfParentIdk$ | async | json }}</pre>
  <p>
    Note - ok, yes, you have to filter out for event type, such as value, and
    get the <code>.value</code> from that, and not the <code>.source</code>. I
    guess reading the JSDoc and trusting the warning that
    <code>.source</code> was deprecated isn't just for posers.
  </p>
</div>

<h2>Old Fashioned change observables</h2>
<div style="display: flex; gap: 1rem">
  <app-form-state
    codeDescription=".valueChanges()"
    [reactiveFormState]="$formValues()"
    [regularFormState]="form.value"
  />
  <app-form-state
    codeDescription=".statusChanges()"
    [reactiveFormState]="$formStatus()"
    [regularFormState]="form.status"
  />
</div>

<h2>New change events</h2>
<div style="display: flex; gap: 1rem">
  <app-form-state
    codeDescription="events.source.getRawValue()"
    [reactiveFormState]="$formValueEvent()"
    [regularFormState]="form.value"
  />

  <app-form-state
    codeDescription="events.source.status"
    [reactiveFormState]="$formStatusEvent()"
    [regularFormState]="form.status"
  />

  <app-form-state
    codeDescription="events.source.touched"
    [reactiveFormState]="$formTouched()"
    [regularFormState]="form.touched"
  />

  <app-form-state
    codeDescription="events.source.pristine"
    [reactiveFormState]="$formPristine()"
    [regularFormState]="form.pristine"
  />
</div>

<div>
  <h2>Notes</h2>
  <p>First in the array: the old <code>.valueChanges()</code></p>
  <p>
    Second in the array: the mapping of the value from the new
    <code>events.source.getRawValue()</code>
  </p>
  <p>(also logged to console)</p>
  <pre>{{ valuesChanging$ | async | json }}</pre>

  <p>
    What to note? The value event is on the latest form control value, not the
    whole form's value itself
  </p>
</div>

<div>
  <h2>Actual form event obj (move somemwhere else)</h2>
  <p>
    Note - hmm, logging the raw event into the console reveals I am not getting
    half the good stuff out of this by just going to the
    <code>.source</code> property lol. Tapping to log for the moment being -
    this object cannot be <code>| json</code> piped as is.
  </p>
  <pre>{{ formEvent$ | async }}</pre>
</div>
