<section id="about">
  <h1>Unified Form Control Theorycrafting</h1>

  <h2>
    <a href="https://github.com/angular/angular/pull/54579" target="_blank"
      >feat(forms): Unified Control State Change Events</a
    >
  </h2>

  <blockquote>
    This commit adds a global observable to subscribe to track changes around
    any AbstractControl (and its children).
  </blockquote>
  <blockquote>
    This commit introduces a new method to subscribe to on every
    `AbstractControl` subclass. It allows to track value, pristine, touched and
    status changes on a given control.
  </blockquote>
</section>

<hr />

<section id="form">
  <form [formGroup]="form">
    <label for="name">Name </label>
    <input [formControl]="form.controls.name" name="name" />
  </form>
</section>

<h2>Old Fashioned change observables</h2>
<div style="display: flex; gap: 1rem">
  <app-form-state
    codeDescription=".valueChanges()"
    [reactiveFormState]="$formValues()"
    [regularFormState]="form.value"
  />
  <app-form-state
    codeDescription=".statusChanges()"
    [reactiveFormState]="$formStatus()"
    [regularFormState]="form.status"
  />
</div>

<h2>New change events</h2>
<div style="display: flex; gap: 1rem">
  <app-form-state
    codeDescription="events.source.getRawValue()"
    [reactiveFormState]="$formValueEvent()"
    [regularFormState]="form.value"
  />

  <app-form-state
    codeDescription="events.source.status"
    [reactiveFormState]="$formStatusEvent()"
    [regularFormState]="form.status"
  />

  <app-form-state
    codeDescription="events.source.touched"
    [reactiveFormState]="$formTouched()"
    [regularFormState]="form.touched"
  />

  <app-form-state
    codeDescription="events.source.pristine"
    [reactiveFormState]="$formPristine()"
    [regularFormState]="form.pristine"
  />
</div>

<div>
  <h2>Notes</h2>
  <p>First in the array: the old <code>.valueChanges()</code></p>
  <p>
    Second in the array: the mapping of the value from the new
    <code>events.source.getRawValue()</code>
  </p>
  <p>(also logged to console)</p>
  <pre>{{ valuesChanging$ | async | json }}</pre>
</div>
